{% trans_default_domain 'FOSUserBundle' %}

<div class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-4" role="main">
                <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
                <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
                <p><a href="{{ path('editionProfile') }}"> Editer </a></p>
            </div>
        </div>
    </div>
</div>
