{% extends "ApidaeBundle:commun:template.html.twig" %}
{% block content %}

<div class="content-wrapper">
    <div class="container">
        <div class="row center-block">
            <div class="col-md-6 col-md-offset-2" role="main">
                <h4> Modification </h4>
                <form action="{{ path('modifierOffre', {'offreId': objet.idObjet}) }}" method="POST">
                    {{ form_widget(form) }}
                    <div class="text-center margin-2">
                        <button type="submit" value="submit">{{ 'Modifier'|trans }}</button>
                        <button type="button" onclick="javascript:history.go(-1)" value="cancel">{{ 'Annuler'|trans }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!--
    <article>
        <form action="{{ path('modifierOffre', {'offreId': objet.idObjet}) }}" method="POST">
            {{ form_widget(form) }}
            {{ form_row(form.objet) }}
            <button type="submit" value="submit">Modifier</button>
            <button type="button" onclick="javascript:history.go(-1)" value="cancel">Annuler</button>
        </form>
    </article>  -->

{% endblock %}
