<div class="sidebar-module">
    <h6 class="sidebar-title"> {{ 'Modes de paiement'|trans }} <span id="titrePaiement">({{ countPaiements }}) </span></h6>
    {% for p in modesPaiement %}
        <div class="sidebar-module-inner">
            <div class="checkbox-block">
                <input id="{{ p.serId }}" name="paiements" value="{{ p.serId }}" type="checkbox" class="filtres"/>
                <label class="" for="{{ p.serId }}">{{ p.serLibelle|langueLib(langue.lanShortCut) }}</label>
            </div>
        </div>

        <!-- services -->
    {% endfor %}
</div>
