<div class="sidebar-module">
    <h6 class="sidebar-title"> {{ 'Tourisme adapté'|trans }} <span id="titreTourisme">({{ countTourisme }})</span></h6>
    {% for s in tourismeAdapte %}
        <div class="sidebar-module-inner">
            <div class="checkbox-block">
                <input id="{{ s.serId }}" name="tourismes" value="{{ s.serId }}" type="checkbox" class="filtres"/>
                <label class="" for="{{ s.serId }}">{{ s.serLibelle|langueLib(langue.lanShortCut) }}</label>
            </div>
        </div>
        <!-- services -->
    {% endfor %}
</div>
