{% block contentActivite %}

    <article>
        <h4> {{ 'Informations principales'|trans }} </h4>
    {% if objet.nbJours is not empty %}
        <p> {{ 'Nombre de jours'|trans }} : {{ objet.nbJours }}</p>
    {%  endif %}
        <p> {{ "Type d'activité"|trans }} : {{ objet.activiteType.libelle|langueLib(langue.lanShortCut) }}</p>
    {% if objet.durees is not empty %}
        <div>
            <h4> {{ 'Durée(s)'|trans }} : </h4>
            <ul>
            {% for d in objet.durees %}
                <li> {{ d.libelle|langueLib(langue.lanShortCut) }}</li>
            {% endfor %}
            </ul>
        </div>
    {%  endif %}
    </article>

{% endblock %}
