{% block contentRestaurant %}

<div id="section-8" class="detail-content">
    <div class="section-title text-left">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour"><h4>{{ 'Capacité'|trans }} <span class="flecheBas"><i class="arrow-indicator fa fa-angle-down"></i></span></h4></a>
    </div>
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
            <div class="faq-thread">
                <ul class="listesInfos">
                {% if objet.nbMaxCouverts is not empty %}
                    <li> {{ 'Nombre maximum de couverts'|trans }} : {{  objet.nbMaxCouverts }} </li>
                {% endif %}
                {% if objet.nbCouvertsTerrasse is not empty %}
                    <li> {{ 'Nombre de couverts en terrasse'|trans }} : {{  objet.nbCouvertsTerrasse }} </li>
                {% endif %}
                {% if objet.nbSalles is not empty %}
                    <li> {{ 'Nombre de salles'|trans }} : {{  objet.nbSalles }} </li>
                {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
