{% block header %}
    {% block nav %}
    <nav>
        <ul>
            <li> Restaurants
                <ul>
                    <li><a href="{{ path('liste', {'typeObjet': "Restaurants", 'categorieId': "2883"}) }}"> Traditionnels </a></li>
                    <li><a href="{{ path('liste', {'typeObjet': "Restaurants", 'categorieId': "3825"}) }}"> Gastronomiques </a></li>
                    <li><a href="{{ path('liste', {'typeObjet': "Restaurants", 'categorieId': "2880"}) }}"> Brasseries </a></li>
                    <li><a href="{{ path('liste', {'typeObjet': "Restaurants", 'categorieId': "2886"}) }}"> Pizzerias </a></li>
                    <li><a href="{{ path('liste', {'typeObjet': "Restaurants", 'categorieId': "2882"}) }}"> Crêperies </a></li>
                    <li><a href="{{ path('liste', {'typeObjet': "Restaurants", 'categorieId': "2887"}) }}"> Restaurations rapide </a></li>
                </ul>
            </li>

            <li> Hébergements
                <ul>
                    <li><a href="{{ path('liste', {'typeObjet': "Hebergement", 'categorieId': "2883"}) }}"> Hôtels </a></li>
                    <li><a href="{{ path('liste', {'typeObjet': "Hebergement", 'categorieId': "3825"}) }}"> Gîtes </a></li>
                    <li><a href="{{ path('liste', {'typeObjet': "Hebergement", 'categorieId': "1618"}) }}"> Chambres </a></li>
                    <li><a href="{{ path('liste', {'typeObjet': "Hebergement", 'categorieId': "1632"}) }}"> Immeuble </a></li>
                    <li><a href="{{ path('liste', {'typeObjet': "Hebergement", 'categorieId': "1681"}) }}"> Studio </a></li>
                    <li><a href="{{ path('liste', {'typeObjet': "Hebergement", 'categorieId': "1616"}) }}"> Maison </a></li>
                    <li><a href="{{ path('liste', {'typeObjet': "Hebergement", 'categorieId': "1614"}) }}"> Chalet </a></li>
                </ul>
            </li>
        </ul>

    </nav>
    {% endblock %}
{% endblock %}