{% block header %}
    <!--                   TODO
    <div>
        <form id="form_recherche" action="{{ path('rechercheSimple') }}" method="get">
            <label for="rechercheSimple">{{ 'Rechercher'|trans }}</label><input type="text" name="champsRecherche" id="rechercheSimple" placeholder="ex : Lac" />
            <input type="submit" value="{{ 'Rechercher'|trans }}" />
        </form>
    </div>-->

    <!-- start Navbar (Header) -->
    <nav class="navbar navbar-primary navbar-fixed-top navbar-sticky-function">

        <div class="navbar-top">

            <div class="container">

                <div class="flex-row flex-align-middle">
                    <div class="flex-shrink flex-columns">
                        <a class="navbar-logo" href="index.html">
                            <img src="images/logo-white.png" alt="Logo" />
                        </a>
                    </div>
                    <div class="flex-columns">
                        <div class="pull-right">

                            <div class="navbar-mini">
                                <ul class="clearfix">

                                    <li class="dropdown bt-dropdown-click hidden-xs">
                                        <a id="currncy-dropdown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                            <i class="ion-android-globe hidden-xss"></i> English
                                            <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="language-dropdown">
                                            <li><a href="http://localhost/sites/projetApidae/web/app_dev.php/en/accueil">English</a></li>
                                            <li><a href="http://localhost/sites/projetApidae/web/app_dev.php/fr/accueil">France</a></li>
                                            <li><a href="#">Japanese</a></li>
                                        </ul>
                                    </li>

                                    <li class="dropdown bt-dropdown-click visible-xs">
                                        <a id="currncy-language-dropdown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                            <i class="fa fa-cog"></i>
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="language-dropdown">
                                            <li><a href="#"><i class="ion-social-usd"></i> Dollar</a></li>
                                            <li><a href="#"><i class="ion-social-euro"></i> Europe</a></li>
                                            <li><a href="#"><i class="ion-social-yen"></i> Yen</a></li>
                                            <li class="divider"></li>
                                            <li><a href="http://localhost/sites/projetApidae/web/app_dev.php/en/accueil">English</a></li>
                                            <li><a href="http://localhost/sites/projetApidae/web/app_dev.php/fr/accueil">France</a></li>
                                        </ul>
                                    </li>

                                    <li class="user-action">
                                        <a data-toggle="modal" href="#" class="btn">Sign up/in</a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="navbar-bottom hidden-sm hidden-xs">

            <div class="container">

                <div class="row">

                    <div class="col-sm-10">

                        <div id="navbar" class="collapse navbar-collapse navbar-arrow">
                            <ul class="nav navbar-nav" id="responsive-menu">
                                <li><a href="{{ path('index') }}"> {{ 'Accueil'|trans }}</a></li>
                                {% include 'ApidaeBundle:commun:menu.html.twig' %}
                                <li><a href="#">{{ 'Panier'|trans }}</a>
                                    <ul>
                                        {% if user is not defined or user is empty %}
                                            <!-- Si non connecté -->
                                            <li><a href="{{ path('panier') }}"> {{ 'Ma sélection'|trans }}</a></li>
                                        {% else %}
                                            <!-- Si connecté-->
                                            <li><a href="{{ path('panier') }}"> {{ 'Gestion des sélections'|trans }} </a></li>
                                        {% endif %}
                                    </ul>
                                </li>
                                <li><a href="#">{{ 'Mon compte'|trans }}</a>
                                    <ul>
                                        {% if user is not defined or user is empty %}
                                            <!-- Si non connecté -->
                                            <li><a href="{{ path('fos_user_registration_register') }}"> {{ "S'enregistrer"|trans }}</a></li>
                                            <li><a href="{{ path('fos_user_security_login') }}"> {{ 'Se connecter'|trans }}</a></li>
                                        {% else %}
                                            <!-- Si connecté-->
                                            <li><a href="{{ path('fos_user_profile_show') }}"> {{ 'Mon profil'|trans }} </a></li>
                                            <li><a href="{{ path('fos_user_security_logout') }}">{{ 'Se déconnecter'|trans }}</a></li>
                                        {% endif %}
                                    </ul>
                                </li>
                               {% if user is defined and user is not empty and is_granted('ROLE_SUPER_ADMIN')%}
                                    <li><a href="#">{{ 'Administration'|trans }}</a>
                                        <ul>
                                            <li><a href="{{ path('listeUsers') }}"> {{ 'Gestion des utilisateurs'|trans }} </a></li>
                                            <li><a href="{{ path('gestionOffres') }}"> {{ 'Gestion des offres'|trans }}</a></li>
                                        </ul>
                                    </li>
                               {% endif %}
                            </ul>
                        </div><!--/.nav-collapse -->

                    </div>

                    <div class="col-sm-2">

                        <div class="navbar-phone">
                            TODO RECHERCHE
                        </div>

                    </div>

                </div>

        </div>

        <div id="slicknav-mobile"></div>
    </div>
    </nav>
    <!-- end Navbar (Header) -->

{% endblock %}