{% block header %}
    <!--                   TODO
    <div>
        <form id="form_recherche" action="{{ path('rechercheSimple') }}" method="get">
            <label for="rechercheSimple">{{ 'Rechercher'|trans }}</label><input type="text" name="champsRecherche" id="rechercheSimple" placeholder="ex : Lac" />
            <input type="submit" value="{{ 'Rechercher'|trans }}" />
        </form>
    </div>-->

    <!-- start Navbar (Header) -->
    <nav class="navbar navbar-primary navbar-fixed-top navbar-sticky-function">

        <div class="navbar-top">

            <div class="container">

                <div class="flex-row flex-align-middle">
                    <div class="flex-shrink flex-columns">
                        <a class="navbar-logo" href="http://apidae.swad.fr/web/app_dev.php/">
                            <!-- //TODO logo
                            <img src="images/logo-white.png" alt="Logo" />-->
                        </a>
                    </div>
                    <div class="flex-columns">
                        <div class="pull-right">

                            <div class="navbar-mini">
                                <ul class="clearfix">

                                    <li class="dropdown bt-dropdown-click hidden-xs">
                                        <a id="currncy-dropdown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                            <i class="ion-android-globe hidden-xss"></i> {{ langueLibelle(app.request.getLocale()) }}
                                            <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="language-dropdown">
                                            <li><a href="http://apidae.swad.fr/web/app_dev.php/en/accueil">English</a></li>
                                            <li><a href="http://apidae.swad.fr/web/app_dev.php/fr/accueil">Français</a></li>
                                        </ul>
                                    </li>

                                    <li class="dropdown bt-dropdown-click visible-xs">
                                        <a id="currncy-language-dropdown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                            <i class="fa fa-cog"></i>
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="language-dropdown">
                                            <li><a href="http://apidae.swad.fr/web/app_dev.php/en/accueil">English</a></li>
                                            <li><a href="http://apidae.swad.fr/web/app_dev.php/fr/accueil">Français</a></li>
                                        </ul>
                                    </li>

                                    <li class="user-action">
                                        {% if user is not defined or user is empty %}
                                            {% if app.user %}
                                                <a data-toggle="modal" href="{{ path('fos_user_security_logout') }}" class="btn">{{ "Se déconnecter"|trans }}</a>
                                            {% else %}
                                                <a data-toggle="modal" href="{{ path('fos_user_security_login') }}" class="btn">{{ "Se connecter"|trans }}</a>
                                            {% endif %}
                                        {% else %}
                                            <a data-toggle="modal" href="{{ path('fos_user_security_logout') }}" class="btn">{{ "Se déconnecter"|trans }}</a>
                                        {% endif %}
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="navbar-bottom hidden-sm hidden-xs">

            <div class="container">

                <div class="row">

                    <div class="col-sm-9">
                        <div id="navbar" class="collapse navbar-collapse navbar-arrow">
                            <ul class="nav navbar-nav" id="responsive-menu">
                                <li><a href="{{ path('indexAccueil') }}"> {{ 'Accueil'|trans }}</a></li>
                                {% include 'ApidaeBundle:commun:menu.html.twig' %}
                                <li><a href="#">{{ 'Panier'|trans }}</a>
                                    <ul>
                                        {% if user is not defined or user is empty %}
                                            <!-- Si non connecté ou non défini -->
                                            {% if app.user %}
                                                <li><a href="{{ path('voirPaniers') }}"> {{ 'Gestion des sélections'|trans }} </a></li>
                                            {% else %}
                                                <li><a href="{{ path('panier') }}"> {{ 'Ma sélection'|trans }}</a></li>
                                            {% endif %}
                                        {% else %}
                                            <!-- Si connecté-->
                                            <li><a href="{{ path('voirPaniers') }}"> {{ 'Gestion des sélections'|trans }} </a></li>
                                        {% endif %}
                                    </ul>
                                </li>
                                <li><a href="#">{{ 'Mon compte'|trans }}</a>
                                    <ul>
                                        {% if user is not defined or user is empty %}
                                            <!-- Si non connecté ou non défini -->
                                            {% if app.user %}
                                                <li><a href="{{ path('fos_user_profile_show') }}"> {{ 'Mon profil'|trans }} </a></li>
                                                <li><a href="{{ path('fos_user_security_logout') }}">{{ 'Se déconnecter'|trans }}</a></li>
                                            {% else %}
                                                <li><a href="{{ path('fos_user_registration_register') }}"> {{ "S'enregistrer"|trans }}</a></li>
                                                <li><a href="{{ path('fos_user_security_login') }}"> {{ 'Se connecter'|trans }}</a></li>
                                            {% endif %}
                                        {% else %}
                                            <!-- Si connecté-->
                                            <li><a href="{{ path('fos_user_profile_show') }}"> {{ 'Mon profil'|trans }} </a></li>
                                            <li><a href="{{ path('fos_user_security_logout') }}">{{ 'Se déconnecter'|trans }}</a></li>
                                        {% endif %}
                                    </ul>
                                </li>
                               {% if is_granted('ROLE_SUPER_ADMIN')%}
                                    <li><a href="#">{{ 'Administration'|trans }}</a>
                                        <ul>
                                            <li><a href="{{ path('listeUsers') }}"> {{ 'Gestion des utilisateurs'|trans }} </a></li>
                                            <li><a href="{{ path('gestionOffres') }}"> {{ 'Gestion des offres'|trans }}</a></li>
                                        </ul>
                                    </li>
                               {% endif %}
                            </ul>
                        </div><!--/.nav-collapse -->
                    </div>

                    <div class="col-sm-3">
                        <!--<form id="form_recherche" action="{{ path('rechercheSimple') }}" method="get">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="ex : Lac">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button">{{ 'Rechercher'|trans }}</button>
                                </span>
                            </div>
                        </form> -->
                            <form id="form_recherche_menu" action="{{ path('rechercheSimple') }}" method="get">
                                <div class="input-group">
                                    <input type="text" name="champsRecherche" class="form-control" id="rechercheSimple" placeholder="ex : Lac" />
                                    <span class="input-group-btn">
                                        <!-- <input class="btn btn-primary fa fa-search" type="submit" value="{{ 'Rechercher'|trans }}" /> -->
                                        <button form="form_recherche_menu" class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
                                    </span>
                                </div>
                            </form>

                    </div>

                </div>

        </div>
    </div>
    <div id="slicknav-mobile"></div>
    </nav>
    <!-- end Navbar (Header) -->

{% endblock %}