{% if langue.lanShortCut == 'Fr' %}
	 <li class="LiMenu">Hébergements
	 	 <ul> 
	 	 	<li><a href="{{ path('liste', {'typeObjet': 'hebergements', 'categorieId': '40518', 'libelleCategorie': 'hotels'}) }}">Hôtels</a></li>
	 	 	<li><a href="{{ path('liste', {'typeObjet': 'hebergements', 'categorieId': '40520', 'libelleCategorie': 'locations_meublees'}) }}">Locations meublées</a></li>
	 	 	<li><a href="{{ path('liste', {'typeObjet': 'hebergements', 'categorieId': '40526', 'libelleCategorie': 'gites'}) }}">Gîtes</a></li>
	 	 	<li><a href="{{ path('liste', {'typeObjet': 'hebergements', 'categorieId': '40521', 'libelleCategorie': 'chambres_dhotes'}) }}">Chambres d'hôtes</a></li>
	 	 	<li><a href="{{ path('liste', {'typeObjet': 'hebergements', 'categorieId': '40525', 'libelleCategorie': 'centres_de_vacances'}) }}">Centres de vacances</a></li>
	 	 	<li><a href="{{ path('liste', {'typeObjet': 'hebergements', 'categorieId': '40524', 'libelleCategorie': 'auberges_de_jeunesse'}) }}">Auberges de jeunesse</a></li>
	 	 	<li><a href="{{ path('liste', {'typeObjet': 'hebergements', 'categorieId': '40519', 'libelleCategorie': 'campings_et_aires_de_camping-cars'}) }}">Campings et Aires de camping-cars</a></li>
	 	 	<li><a href="{{ path('liste', {'typeObjet': 'hebergements', 'categorieId': '40523', 'libelleCategorie': 'insolites'}) }}">Insolites</a></li>
	 	 	<li><a href="{{ path('liste', {'typeObjet': 'hebergements', 'categorieId': '40527', 'libelleCategorie': 'sejours_tout_compris'}) }}">Séjours tout compris</a></li>
	 	 </ul> 
 	 </li> 
	 <li class="LiMenu">Restaurants
	 	 <ul> 
	 	 	<li><a href="{{ path('liste', {'typeObjet': 'restaurants', 'categorieId': '40530', 'libelleCategorie': 'traditionnels'}) }}">Traditionnels</a></li>
	 	 	<li><a href="{{ path('liste', {'typeObjet': 'restaurants', 'categorieId': '40529', 'libelleCategorie': 'gastronomique'}) }}">Gastronomique</a></li>
	 	 	<li><a href="{{ path('liste', {'typeObjet': 'restaurants', 'categorieId': '40531', 'libelleCategorie': 'pizzerias'}) }}">Pizzerias</a></li>
	 	 	<li><a href="{{ path('liste', {'typeObjet': 'restaurants', 'categorieId': '40532', 'libelleCategorie': 'creperie'}) }}">Crêperie</a></li>
	 	 	<li><a href="{{ path('liste', {'typeObjet': 'restaurants', 'categorieId': '40534', 'libelleCategorie': 'restauration_rapide'}) }}">Restauration rapide</a></li>
	 	 	<li><a href="{{ path('liste', {'typeObjet': 'restaurants', 'categorieId': '40536', 'libelleCategorie': 'pubs_bars_salons_de_the_'}) }}">Pubs, Bars, Salons de thé </a></li>
	 	 	<li><a href="{{ path('liste', {'typeObjet': 'restaurants', 'categorieId': '40533', 'libelleCategorie': 'specialites_etrangeres'}) }}">Spécialités étrangères</a></li>
	 	 	<li><a href="{{ path('liste', {'typeObjet': 'restaurants', 'categorieId': '40528', 'libelleCategorie': 'auberges'}) }}">Auberges</a></li>
	 	 </ul> 
 	 </li> 
	 <li class="LiMenu">Activites
	 	 <ul> 
	 	 	<li><a href="{{ path('liste', {'typeObjet': 'activites', 'categorieId': '40537', 'libelleCategorie': 'patrimoine;_musees_galeries'}) }}">Patrimoine; Musées, Galeries</a></li>
	 	 	<li><a href="{{ path('liste', {'typeObjet': 'activites', 'categorieId': '40538', 'libelleCategorie': 'randonnees'}) }}">Randonnées</a></li>
	 	 	<li><a href="{{ path('liste', {'typeObjet': 'activites', 'categorieId': '40539', 'libelleCategorie': 'activites_aeriennes'}) }}">Activités aériennes</a></li>
	 	 </ul> 
 	 </li> 
	 <li class="LiMenu">Evénements
	 	 <ul> 
	 	 	<li><a href="{{ path('listeEvenement', {'typeObjet': 'evenements', 'periode': '7', 'libelleCategorie': 'dans_la_semaine'}) }}">Dans la semaine</a></li>
	 	 	<li><a href="{{ path('listeEvenement', {'typeObjet': 'evenements', 'periode': '30', 'libelleCategorie': 'les_30_prochains_jours'}) }}">Les 30 prochains jours</a></li>
	 	 </ul>
 	 </li> 
{% endif %} 
{% if langue.lanShortCut == 'En' %}
	 <li class="LiMenu">Accomodations
	 	 <ul> 
	 	 	<li><a href="{{ path('liste', {'typeObjet': 'accomodations', 'categorieId': '40518', 'libelleCategorie': 'hotels'}) }}">Hotels</a></li>
	 	 	<li><a href="{{ path('liste', {'typeObjet': 'accomodations', 'categorieId': '40520', 'libelleCategorie': 'locations'}) }}">Locations</a></li>
	 	 	<li><a href="{{ path('liste', {'typeObjet': 'accomodations', 'categorieId': '40526', 'libelleCategorie': 'gites'}) }}">Gîtes</a></li>
	 	 	<li><a href="{{ path('liste', {'typeObjet': 'accomodations', 'categorieId': '40521', 'libelleCategorie': 'bed_and_breakfast'}) }}">Bed and breakfast</a></li>
	 	 	<li><a href="{{ path('liste', {'typeObjet': 'accomodations', 'categorieId': '40525', 'libelleCategorie': 'holiday_centers'}) }}">Holiday centers</a></li>
	 	 	<li><a href="{{ path('liste', {'typeObjet': 'accomodations', 'categorieId': '40524', 'libelleCategorie': 'youth_hostels'}) }}">Youth hostels</a></li>
	 	 	<li><a href="{{ path('liste', {'typeObjet': 'accomodations', 'categorieId': '40519', 'libelleCategorie': 'campsites_and_campers_reception_area'}) }}">Campsites and campers reception area</a></li>
	 	 	<li><a href="{{ path('liste', {'typeObjet': 'accomodations', 'categorieId': '40523', 'libelleCategorie': 'unusual_accommodations'}) }}">Unusual accommodations</a></li>
	 	 	<li><a href="{{ path('liste', {'typeObjet': 'accomodations', 'categorieId': '40527', 'libelleCategorie': 'packages_tours'}) }}">Packages tours</a></li>
	 	 </ul> 
 	 </li> 
	 <li class="LiMenu">Restaurants
	 	 <ul> 
	 	 	<li><a href="{{ path('liste', {'typeObjet': 'restaurants', 'categorieId': '40530', 'libelleCategorie': 'traditional'}) }}">Traditional</a></li>
	 	 	<li><a href="{{ path('liste', {'typeObjet': 'restaurants', 'categorieId': '40529', 'libelleCategorie': 'gastronomic'}) }}">Gastronomic</a></li>
	 	 	<li><a href="{{ path('liste', {'typeObjet': 'restaurants', 'categorieId': '40531', 'libelleCategorie': 'pizzerias'}) }}">Pizzerias</a></li>
	 	 	<li><a href="{{ path('liste', {'typeObjet': 'restaurants', 'categorieId': '40532', 'libelleCategorie': 'creperie'}) }}">Crêperie</a></li>
	 	 	<li><a href="{{ path('liste', {'typeObjet': 'restaurants', 'categorieId': '40534', 'libelleCategorie': 'fast_food'}) }}">Fast food</a></li>
	 	 	<li><a href="{{ path('liste', {'typeObjet': 'restaurants', 'categorieId': '40536', 'libelleCategorie': 'pubs_and_bars_tea_room'}) }}">Pubs and bars, Tea room</a></li>
	 	 	<li><a href="{{ path('liste', {'typeObjet': 'restaurants', 'categorieId': '40533', 'libelleCategorie': 'foreign_specialities'}) }}">Foreign specialities</a></li>
	 	 	<li><a href="{{ path('liste', {'typeObjet': 'restaurants', 'categorieId': '40528', 'libelleCategorie': 'auberges'}) }}">Auberges</a></li>
	 	 </ul> 
 	 </li> 
	 <li class="LiMenu">Activites
	 	 <ul> 
	 	 	<li><a href="{{ path('liste', {'typeObjet': 'activites', 'categorieId': '40537', 'libelleCategorie': 'historic_patrimony_museums_galleries'}) }}">Historic patrimony, Museums, Galleries</a></li>
	 	 	<li><a href="{{ path('liste', {'typeObjet': 'activites', 'categorieId': '40538', 'libelleCategorie': 'pedestrian_sports'}) }}">Pedestrian sports</a></li>
	 	 	<li><a href="{{ path('liste', {'typeObjet': 'activites', 'categorieId': '40539', 'libelleCategorie': 'lessons_courses'}) }}">Lessons, Courses</a></li>
	 	 </ul> 
 	 </li> 
	 <li class="LiMenu">Events
	 	 <ul> 
	 	 	<li><a href="{{ path('listeEvenement', {'typeObjet': 'events', 'periode': '7', 'libelleCategorie': 'this_week'}) }}">This week</a></li>
	 	 	<li><a href="{{ path('listeEvenement', {'typeObjet': 'events', 'periode': '30', 'libelleCategorie': '30_next_days'}) }}">30 next days</a></li>
	 	 </ul>
 	 </li> 
{% endif %} 
