{% if langue.lanShortCut == 'Fr' %}
	 <li class="LiMenu">Hébergements
	 	 <ul> 
	 	 	<li><a href="{{ path('liste', {'typeObjet': 'hebergements', 'categorieId': '2734', 'libelleCategorie': 'hotels'}) }}">Hôtels</a></li>
	 	 	<li><a href="{{ path('liste', {'typeObjet': 'hebergements', 'categorieId': '2620', 'libelleCategorie': 'gites_locations_meublees'}) }}">Gîtes, Locations meublées</a></li>
	 	 	<li><a href="{{ path('liste', {'typeObjet': 'hebergements', 'categorieId': '2619', 'libelleCategorie': 'chambres_dhotes'}) }}">Chambres d'hôtes</a></li>
	 	 	<li><a href="{{ path('liste', {'typeObjet': 'hebergements', 'categorieId': '2642', 'libelleCategorie': 'centres_de_vacances'}) }}">Centres de vacances</a></li>
	 	 	<li><a href="{{ path('liste', {'typeObjet': 'hebergements', 'categorieId': '2640', 'libelleCategorie': 'auberges_de_jeunesse'}) }}">Auberges de jeunesse</a></li>
	 	 	<li><a href="{{ path('liste', {'typeObjet': 'hebergements', 'categorieId': '2418', 'libelleCategorie': 'campings_et_aires_de_camping-cars'}) }}">Campings et Aires de camping-cars</a></li>
	 	 	<li><a href="{{ path('liste', {'typeObjet': 'hebergements', 'categorieId': '2626', 'libelleCategorie': 'insolites'}) }}">Insolites</a></li>
	 	 	<li><a href="{{ path('liste', {'typeObjet': 'hebergements', 'categorieId': '2646', 'libelleCategorie': 'autres'}) }}">Autres</a></li>
	 	 </ul> 
 	 </li> 
	 <li class="LiMenu">Restaurants
	 	 <ul> 
	 	 	<li><a href="{{ path('liste', {'typeObjet': 'restaurants', 'categorieId': '3825', 'libelleCategorie': 'gastronomique'}) }}">Gastronomique</a></li>
	 	 	<li><a href="{{ path('liste', {'typeObjet': 'restaurants', 'categorieId': '2886', 'libelleCategorie': 'pizzerias'}) }}">Pizzerias</a></li>
	 	 	<li><a href="{{ path('liste', {'typeObjet': 'restaurants', 'categorieId': '2882', 'libelleCategorie': 'creperie'}) }}">Crêperie</a></li>
	 	 	<li><a href="{{ path('liste', {'typeObjet': 'restaurants', 'categorieId': '2887', 'libelleCategorie': 'restauration_rapide'}) }}">Restauration rapide</a></li>
	 	 	<li><a href="{{ path('liste', {'typeObjet': 'restaurants', 'categorieId': '2880', 'libelleCategorie': 'brasserie'}) }}">Brasserie</a></li>
	 	 	<li><a href="{{ path('liste', {'typeObjet': 'restaurants', 'categorieId': '3404', 'libelleCategorie': 'pubs_bars_salons_de_the_'}) }}">Pubs, Bars, Salons de thé </a></li>
	 	 	<li><a href="{{ path('liste', {'typeObjet': 'restaurants', 'categorieId': '2893', 'libelleCategorie': 'specialites_etrangeres'}) }}">Spécialités étrangères</a></li>
	 	 </ul> 
 	 </li> 
	 <li class="LiMenu">Activites
	 	 <ul> 
	 	 	<li><a href="{{ path('liste', {'typeObjet': 'activites', 'categorieId': '3203', 'libelleCategorie': 'patrimoine;_musees_galeries'}) }}">Patrimoine; Musées, Galeries</a></li>
	 	 	<li><a href="{{ path('liste', {'typeObjet': 'activites', 'categorieId': '3184', 'libelleCategorie': 'randonnees'}) }}">Randonnées</a></li>
	 	 	<li><a href="{{ path('liste', {'typeObjet': 'activites', 'categorieId': '3283', 'libelleCategorie': 'itinieraires_parcours'}) }}">Itiniéraires, parcours</a></li>
	 	 	<li><a href="{{ path('liste', {'typeObjet': 'activites', 'categorieId': '1830', 'libelleCategorie': 'cours_stages'}) }}">Cours, Stages</a></li>
	 	 	<li><a href="{{ path('liste', {'typeObjet': 'activites', 'categorieId': '3298', 'libelleCategorie': 'plage_espace_de_baignade'}) }}">Plage, Espace de baignade</a></li>
	 	 </ul> 
 	 </li> 
	 <li class="LiMenu">Evénements
	 	 <ul> 
	 	 	<li><a href="{{ path('listeEvenement', {'typeObjet': 'evenements', 'periode': '1', 'libelleCategorie': 'aujourdhui'}) }}">Aujourd'hui</a></li>
	 	 	<li><a href="{{ path('listeEvenement', {'typeObjet': 'evenements', 'periode': '7', 'libelleCategorie': 'dans_la_semaine'}) }}">Dans la semaine</a></li>
	 	 	<li><a href="{{ path('listeEvenement', {'typeObjet': 'evenements', 'periode': '30', 'libelleCategorie': 'les_30_prochains_jours'}) }}">Les 30 prochains jours</a></li>
	 	 </ul>
 	 </li> 
{% endif %} 
{% if langue.lanShortCut == 'En' %}
	 <li class="LiMenu">Accomodations
	 	 <ul> 
	 	 	<li><a href="{{ path('liste', {'typeObjet': 'accomodations', 'categorieId': '2734', 'libelleCategorie': 'hotels'}) }}">Hotels</a></li>
	 	 	<li><a href="{{ path('liste', {'typeObjet': 'accomodations', 'categorieId': '2620', 'libelleCategorie': 'gites_locations'}) }}">Gîtes, locations</a></li>
	 	 	<li><a href="{{ path('liste', {'typeObjet': 'accomodations', 'categorieId': '2619', 'libelleCategorie': 'bed_and_breakfast'}) }}">Bed and breakfast</a></li>
	 	 	<li><a href="{{ path('liste', {'typeObjet': 'accomodations', 'categorieId': '2642', 'libelleCategorie': 'holiday_centers'}) }}">Holiday centers</a></li>
	 	 	<li><a href="{{ path('liste', {'typeObjet': 'accomodations', 'categorieId': '2640', 'libelleCategorie': 'youth_hostels'}) }}">Youth hostels</a></li>
	 	 	<li><a href="{{ path('liste', {'typeObjet': 'accomodations', 'categorieId': '2418', 'libelleCategorie': 'campsites_and_campers_reception_area'}) }}">Campsites and campers reception area</a></li>
	 	 	<li><a href="{{ path('liste', {'typeObjet': 'accomodations', 'categorieId': '2626', 'libelleCategorie': 'unusual_accommodations'}) }}">Unusual accommodations</a></li>
	 	 	<li><a href="{{ path('liste', {'typeObjet': 'accomodations', 'categorieId': '2646', 'libelleCategorie': 'others'}) }}">Others</a></li>
	 	 </ul> 
 	 </li> 
	 <li class="LiMenu">Restaurants
	 	 <ul> 
	 	 	<li><a href="{{ path('liste', {'typeObjet': 'restaurants', 'categorieId': '3825', 'libelleCategorie': 'gastronomic'}) }}">Gastronomic</a></li>
	 	 	<li><a href="{{ path('liste', {'typeObjet': 'restaurants', 'categorieId': '2886', 'libelleCategorie': 'pizzerias'}) }}">Pizzerias</a></li>
	 	 	<li><a href="{{ path('liste', {'typeObjet': 'restaurants', 'categorieId': '2882', 'libelleCategorie': 'creperie'}) }}">Crêperie</a></li>
	 	 	<li><a href="{{ path('liste', {'typeObjet': 'restaurants', 'categorieId': '2887', 'libelleCategorie': 'fast_food'}) }}">Fast food</a></li>
	 	 	<li><a href="{{ path('liste', {'typeObjet': 'restaurants', 'categorieId': '2880', 'libelleCategorie': 'brasserie'}) }}">Brasserie</a></li>
	 	 	<li><a href="{{ path('liste', {'typeObjet': 'restaurants', 'categorieId': '3404', 'libelleCategorie': 'pubs_and_bars_tea_room'}) }}">Pubs and bars, Tea room</a></li>
	 	 	<li><a href="{{ path('liste', {'typeObjet': 'restaurants', 'categorieId': '2893', 'libelleCategorie': 'foreign_specialities'}) }}">Foreign specialities</a></li>
	 	 </ul> 
 	 </li> 
	 <li class="LiMenu">Activites
	 	 <ul> 
	 	 	<li><a href="{{ path('liste', {'typeObjet': 'activites', 'categorieId': '3203', 'libelleCategorie': 'historic_patrimony_museums_galleries'}) }}">Historic patrimony, Museums, Galleries</a></li>
	 	 	<li><a href="{{ path('liste', {'typeObjet': 'activites', 'categorieId': '3184', 'libelleCategorie': 'pedestrian_sports'}) }}">Pedestrian sports</a></li>
	 	 	<li><a href="{{ path('liste', {'typeObjet': 'activites', 'categorieId': '3283', 'libelleCategorie': 'itineraries_routes/courses'}) }}">Itineraries, Routes/Courses</a></li>
	 	 	<li><a href="{{ path('liste', {'typeObjet': 'activites', 'categorieId': '1830', 'libelleCategorie': 'lessons_courses'}) }}">Lessons, Courses</a></li>
	 	 	<li><a href="{{ path('liste', {'typeObjet': 'activites', 'categorieId': '3298', 'libelleCategorie': 'beach_bathing_area'}) }}">Beach, Bathing Area</a></li>
	 	 </ul> 
 	 </li> 
	 <li class="LiMenu">Events
	 	 <ul> 
	 	 	<li><a href="{{ path('listeEvenement', {'typeObjet': 'events', 'periode': '1', 'libelleCategorie': 'today'}) }}">Today</a></li>
	 	 	<li><a href="{{ path('listeEvenement', {'typeObjet': 'events', 'periode': '7', 'libelleCategorie': 'this_week'}) }}">This week</a></li>
	 	 	<li><a href="{{ path('listeEvenement', {'typeObjet': 'events', 'periode': '30', 'libelleCategorie': '30_next_days'}) }}">30 next days</a></li>
	 	 </ul>
 	 </li> 
{% endif %} 
