{% block contentRestaurant %}

    {% if objet.objEtoile is not empty and objet.labelsQualite is not empty %}
        <article>
            <h4> {{ 'Classements'|trans }} </h4>
            <ul>
                {% if objet.objEtoile is not empty %}
                    <li>{{ 'Classement étoile'|trans }} : {{ objet.objEtoile|langueLib(langue.lanShortCut) }}</li>
                {% endif %}
                {% if objet.labelsQualite is not empty %}
                    {% for label in objet.labelsQualite %}
                        <li>{{ label.labLibelle|langueLib(langue.lanShortCut) }} {{ label.labClassement|langueLib(langue.lanShortCut) }}</li>
                    {% endfor %}
                {% endif %}
            </ul>
        </article>
    {% endif %}

    {% if objet.services is not empty %}
    <article>
        <h4> {{ 'Services'|trans }} </h4>
        <ul>
            {% for service in objet.services %}
            <li>{{ service.serLibelle|langueLib(langue.lanShortCut) }}
                {% if service.serInfosSup is not empty %}
                    <ul>
                        <li> {{ service.serInfosSup|langueLib(langue.lanShortCut) }} </li>
                    </ul>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </article>
    {% endif %}

    {% if objet.equipements is not empty %}
    <article>
        <h4> {{ 'Equipements'|trans }} </h4>
        <ul>
            {% for equipement in objet.equipements %}
            <li>{{ equipement.equLibelle|langueLib(langue.lanShortCut) }}
                {% if equipement.equInfosSup is not empty %}
                    <ul>
                        <li> {{ equipement.equInfosSup|langueLib(langue.lanShortCut) }} </li>
                    </ul>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </article>
    {% endif %}


{% endblock %}
