<!DOCTYPE html>
<head>
    <!-- completer -->
</head>

<html>
    <head>
        <title>Test d'objet lié</title>
    </head>
    <body>
        <h2> Index test </h2>
        <section>
            <div>
                <h4> Informations principales : </h4>
                <ul>
                    <li> Objet Apidae : {{ trad.traNom }} </li>
                    <li> id : {{objet.idObjet}} </li>
                </ul>
            </div>

            <div>
                <h4> Categories : </h4>
                <ul>
                    {% for cat in objet.categories %}
                        <li>{{ cat.catLibelle }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% if trad.services is not empty %}
            <div>
                <h4> Services : </h4>
                <ul>
                    {% for service in trad.services %}
                        <li>{{ service.serLibelle }}
                        {% if service.serInfosSup is not empty %}
                        <ul>
                            <li> {{ service.serInfosSup }} </li>
                        </ul>
                        {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            {% if trad.equipements is not empty %}
            <div>
                <h4> Equipements : </h4>
                <ul>
                    {% for equipement in trad.equipements %}
                        <li>{{ equipement.equLibelle }}
                        {% if equipement.equInfosSup is not empty %}
                            <ul>
                                <li> {{ equipement.equInfosSup }} </li>
                            </ul>
                        {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            {% if trad.moyensCommunications is not empty %}
                <div>
                    <h4> Moyens de communication : </h4>
                    <ul>
                        {% for moy in trad.moyensCommunications %}
                            <li>{{ moy.moyComLibelle }} : {{ moy.moyComCoordonnees }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}


        </section>

    </body>
</html>