{% extends "ApidaeBundle:commun:template.html.twig" %}
{%  block content %}
    <!-- start end Page title -->
    <div class="page-title" style="background-image:url({{ asset('bundles/apidae/images/hero-header/breadcrumb.jpg') }});">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
                    <h1 class="hero-title">{{ typeObjet }} {% if categorieNom is defined %}: {{ categorieNom }} {% endif %}</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- end Page title -->
    <div class="content-wrapper">
        <div class="container">
            <div class="row">
                <!-- Filtres -->
                <div class="col-sm-4 col-md-3">

                    <aside class="sidebar with-filter">

                        <div class="sidebar-search-wrapper bg-light-2">

                            <div class="sidebar-search-header">
                                <h4>{{ 'Rechercher'|trans }}</h4>
                            </div>

                            <div class="sidebar-search-content">
                                <div class="sidebar-module">
                                    <div class="sidebar-module-inner">
                                        <div class="sidebar-mini-search">
                                            <div class="input-group">
                                                <form id="form_recherche" action="{{ path('rechercheSimple') }}" method="get">
                                                    <input type="text" name="champsRecherche" id="rechercheSimple" placeholder="ex : Lac" />
                                                    <input type="submit" value="{{ 'Rechercher'|trans }}" />
                                                </form>
                                                <!-- <form id="form_recherche" action="{{ path('rechercheSimple') }}" method="get">
                                                    <input type="text" class="form-control" placeholder="ex : Lac">
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
                                                    </span>
                                                </form> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- ok
                                <form id="form_recherche" action="{{ path('rechercheSimple') }}" method="get">
                                    <label for="rechercheSimple">{{ 'Rechercher'|trans }}</label>
                                    <input type="text" name="champsRecherche" id="rechercheSimple" placeholder="ex : Lac" />
                                    <input type="submit" value="{{ 'Rechercher'|trans }}" />
                                </form> -->
                            </div>
                        </div>
                        {% if typeObjet != "Evénements" %}
                            <div class="sidebar-header clearfix">
                                <h4>{{ 'Filtres'|trans }}</h4>
                                <a href="#" class="sidebar-reset-filter" id="resetFiltres"><i class="fa fa-times"></i>{{ 'Réinitialiser'|trans }}</a>
                            </div>

                            <form id="form_recherche" action="" method="POST">
                                {% if typesHabitation is defined and typesHabitation is not empty %}
                                    {% include "ApidaeBundle:filtres:TypesHabitationFiltres.html.twig" %}
                                    <div class="clear"></div>
                                {% endif %}
                                {% if modesPaiement is defined and modesPaiement is not empty %}
                                    {% include "ApidaeBundle:filtres:ModesPaiementFiltres.html.twig" %}
                                    <div class="clear"></div>
                                {% endif %}
                                {% if services is defined and services is not empty %}
                                    {% include "ApidaeBundle:filtres:ServicesFiltres.html.twig" %}
                                    <div class="clear"></div>
                                {% endif %}
                                {% if labels is defined and labels is not empty %}
                                    {% include "ApidaeBundle:filtres:Classements.html.twig" %}
                                    <div class="clear"></div>
                                {% endif %}
                                {% if tourismeAdapte is defined and tourismeAdapte is not empty %}
                                    {% include "ApidaeBundle:filtres:TourismeAdapte.html.twig" %}
                                {% endif %}
                            </form>
                        {% endif %}

                    </aside>
                </div>
                <!-- Liste objets -->
                <div class="col-sm-8 col-md-9">
                    <h3> {{ 'Résultats trouvés'|trans }} : <span id="objetsTotal">{{ objets|length }}</span></h3>
                    {% include "ApidaeBundle:Default:vueListeContent.html.twig" %}
                </div>
            </div>
        </div>
    </div>

    <div id="choix_panier" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Choisissez une liste</h4>
                </div>
                <div class="modal-body">
                    {% if paniers|length >= 1 %}
                        {% for panier in paniers %}
                            <h5 class="choixPanier" id="{{ panier.id }}" data-dismiss="modal">{{ panier.panLibelle }}</h5>
                        {% endfor %}
                    {% endif %}

                </div>
                <div class="modal-footer">
                    {% if user is not empty %}
                        <button type="button" class="btn btn-default choixNew" data-dismiss="modal">{{ 'Créer une nouvelle liste'|trans }}</button>
                    {% endif %}
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'Annuler'|trans }}</button>
                </div>
            </div>

        </div>
    </div>

{% endblock %}
