<section id="listeDobjets">
{% for objet in objets %}
    <article class="objetListe">
        <h2> {{ objet.nom|langueLib(langue.lanShortCut) }}</h2>
        {% if objet.multimedias is not empty %}
            <div class="imgListe">
                <a href="{{ objet.multimedias.first.mulUrl}}" ><img src="{{ objet.multimedias.first.mulUrlListe}}"></a>
            </div>
        {% endif %}

        <div class="infosListe">
            {% if objet.commune is not empty %}
                <p>{{ objet.commune.comNom }}</p>
            {%  endif %}
            {% if objet.categories is not empty%}
             <!--   <div> <p>Categories :</p>
                    {% for cat in objet.categories %}
                        <div class="listeCategories">
                            <p>{{ cat.catLibelle|langueLib(langue.lanShortCut) }}</p>
                        </div>
                    {% endfor %}
                </div> -->
            {% endif %}
            {% if objet.tarifEnClair is not empty %}
                <p> {{ objet.tarifEnClair|langueLib(langue.lanShortCut) }}</p>
            {% endif %}

            {% if tradLangue(objet, langue) is not null %}
                <div >
                    <h4> {{ 'Description'|trans }}: </h4>
                    <p> {{ tradLangue(objet, langue).traDescriptionCourte }} </p>
                </div>
            {% endif %}
        </div>
        <div class="lienDetailsListe">
            <a href="{{ path('offre', {'langueLocale' : langue.lanShortCut, 'id': objet.idObjet }) }}"> {{ 'Voir le détail'|trans }} </a>
        </div>
        {% if is_granted('ROLE_SUPER_ADMIN') %}
            <div class="optionsAdmin">
                <a href="{{ path('modifierOffre', {'offreId': objet.idObjet }) }}"> {{ 'Modifier'|trans }}</a>
            </div>
        {%  endif %}
    </article>
{% endfor %}
</section>
<div hidden>
    <p id="langue" >{{ langue.lanShortCut }}</p>
</div>

